<div class="flex  justify-between px-5 py-1  items-center">
    <div class="flex items-center gap-1">
        <img src="/assets/Icons/home.png" alt="" class="w-12 h-14 ">
        <img src="/assets/Icons/qbh.png" alt="" class="h-10">
        <p class="self-end py-2 text-indigo-500">V : 01:01:01</p>
    </div>
    <div>
        <h2 class="text-xl font-semibold">QBH SOLUTION PVT LTD</h2>
        <p class="text-center"><span>12/05/2023</span> <span class="ml-5">03:31:20</span></p>
    </div>
    <div class="">
        <div>
            <p class="text-lg font-semibold">User Name:
                Ram Singh Sharma
            </p>

        </div>
        <p>User Id : 105 , Sales Person , Level: 205</p>
    </div>
</div>