<div class="flex justify-evenly  items-center px-2 ">
    <div
        class="flex flex-col items-center border-r-2 border-gray-400 w-[12vw] h-[12vh]  hover:bg-sky-300 p-1 hover:cursor-pointer hover:scale-110 hover:rounded ">
        <img class="w-12 h-12 mix-mode-multiply " src="assets/Icons/dashboard.png" alt="">
        <p class="text-lg">Dashboard</p>
    </div>
    <div
        class="flex flex-col items-center border-r-2 border-gray-400 w-[12vw] h-[12vh]  hover:bg-sky-300 p-1 hover:cursor-pointer hover:scale-110 hover:rounded ">
        <img class="w-12 h-12 mix-mode-multiply " src="assets/Icons/stockmanagement.png" alt="">
        <p class="text-lg">Stock Management</p>
    </div>
    <div
        class="flex flex-col items-center border-r-2 border-gray-400 w-[12vw] h-[12vh]  hover:bg-sky-300 p-1 hover:cursor-pointer hover:scale-110 hover:rounded ">
        <img class="w-12 h-12 mix-mode-multiply " src="assets/Icons/stockTransfer.png" alt="">
        <p class="text-lg">Stock Transfer</p>
    </div>
    <div
        class="flex flex-col items-center border-r-2 border-gray-400 w-[12vw] h-[12vh]  hover:bg-sky-300 p-1 hover:cursor-pointer hover:scale-110 hover:rounded ">
        <img class="w-12 h-12 mix-mode-multiply " src="assets/Icons/stockUpdate.png" alt="">
        <p class="text-lg">Stock Update</p>
    </div>
    <div
        class="flex flex-col items-center border-r-2 border-gray-400 w-[12vw] h-[12vh]  hover:bg-sky-300 p-1 hover:cursor-pointer hover:scale-110 hover:rounded ">
        <img class="w-12 h-12 mix-mode-multiply " src="assets/Icons/stockUpload.png" alt="">
        <p class="text-lg">Stock Upload</p>
    </div>
    <div
        class="flex flex-col items-center border-r-2 border-gray-400 w-[12vw] h-[12vh]  hover:bg-sky-300 p-1 hover:cursor-pointer hover:scale-110 hover:rounded ">
        <img class="w-12 h-12 mix-mode-multiply " src="assets/Icons/stockReport.png" alt="">
        <p class="text-lg">Stock Report</p>
    </div>
    <div
        class="flex flex-col items-center border-r-2 border-gray-400 w-[12vw] h-[12vh]  hover:bg-sky-300 p-1 hover:cursor-pointer hover:scale-110 hover:rounded ">
        <img class="w-12 h-12 mix-mode-multiply " src="assets/Icons/productLabel.png" alt="">
        <p class="text-lg">Product Label</p>
    </div>
    <div
        class="flex flex-col items-center border-r-2 border-gray-400 w-[12vw] h-[12vh]  hover:bg-sky-300 p-1 hover:cursor-pointer hover:scale-110 hover:rounded ">
        <img class="w-12 h-12 mix-mode-multiply " src="assets/Icons/inventry.png" alt="">
        <p class="text-lg">Inventry set up</p>
    </div>
</div>