<div class="flex justify-evenly items-center mt-3">
    <div
        class="border rounded-lg p-2 drop-shadow-xl shadow-lg flex justify-between  w-[16vw] h-[12vh] hover:bg-sky-200 hover:scale-105 hover:cursor-pointer">
        <img class="w-14 h-14" src="assets/Icons/stockList.png" alt="">
        <div class="w-[70%]  flex flex-col justify-between ">
            <p class="text-indigo-900 font-semibold  ">Stock List</p>
            <div class="flex justify-between">
                <span class="text-[#3c1813] text-2xl  font-semibold">100</span>
                <span class="flex justify-end gap-1 items-center text-green-600">24%
                    <img src="assets/Icons/up-arrow.png" alt="up" class="w-5 h-4">
                </span>
            </div>
        </div>

    </div>
    <div
        class="border rounded-lg p-2 drop-shadow-xl shadow-lg flex justify-between  w-[16vw] h-[12vh] hover:bg-sky-200 hover:scale-105 hover:cursor-pointer">
        <img class="w-14 h-14" src="assets/Icons/items.png" alt="">
        <div class="w-[70%]  flex flex-col justify-between ">
            <p class="text-indigo-900 font-semibold  ">Nos. Of Total Items</p>
            <div class="flex justify-between">
                <span class="text-[#4c2621] text-2xl  font-semibold">105</span>
                <span class="flex justify-end gap-1 items-center text-green-600">24%
                    <img src="assets/Icons/up-arrow.png" alt="up" class="w-5 h-4">
                </span>
            </div>
        </div>

    </div>
    <div
        class="border rounded-lg p-2 drop-shadow-xl shadow-lg flex justify-between  w-[16vw] h-[12vh] hover:bg-sky-200 hover:scale-105 hover:cursor-pointer">
        <img class="w-14 h-14" src="assets/Icons/discounts.png" alt="">
        <div class="w-[70%]  flex flex-col justify-between ">
            <p class="text-indigo-900 font-semibold  ">Nos Of Discontinue Items</p>
            <div class="flex justify-between">
                <span class="text-[#4c2621] text-2xl  font-semibold">15</span>
                <span class="flex justify-end gap-1 items-center text-red-600">2%
                    <img src="assets/Icons/down.png" alt="down" class="w-5 h-4">
                </span>
            </div>
        </div>

    </div>
    <div
        class="border rounded-lg p-2 drop-shadow-xl shadow-lg flex justify-between  w-[16vw] h-[12vh] hover:bg-sky-200 hover:scale-105 hover:cursor-pointer">
        <img class="w-14 h-14" src="assets/Icons/totalStock.png" alt="">
        <div class="w-[70%]  flex flex-col justify-between ">
            <p class="text-indigo-900 font-semibold  ">Nos Of Total Stock</p>
            <div class="flex justify-between">
                <span class="text-[#4c2621] text-2xl  font-semibold">10</span>
                <span class="flex justify-end gap-1 items-center text-green-600">24%
                    <img src="assets/Icons/up-arrow.png" alt="up" class="w-5 h-4">
                </span>
            </div>
        </div>

    </div>
    <div
        class="border rounded-lg p-2 drop-shadow-xl shadow-lg flex justify-between  w-[16vw] h-[12vh] hover:bg-sky-200 hover:scale-105 hover:cursor-pointer">
        <img class="w-14 h-14" src="assets/Icons/category.png" alt="">
        <div class="w-[70%]  flex flex-col justify-between ">
            <p class="text-indigo-900 font-semibold  ">Nos Of categories</p>
            <div class="flex justify-between">
                <span class="text-[#4c2621] text-2xl  font-semibold">10</span>
                <span class="flex justify-end gap-1 items-center text-green-600">7%
                    <img src="assets/Icons/up-arrow.png" alt="up" class="w-5 h-4">
                </span>
            </div>
        </div>

    </div>
    <div
        class="border rounded-lg p-2 drop-shadow-xl shadow-lg flex justify-between  w-[16vw] h-[12vh] hover:bg-sky-200 hover:scale-105 hover:cursor-pointer">
        <img class="w-14 h-14" src="assets/Icons/item.png" alt="">
        <div class="w-[70%]  flex flex-col justify-between ">
            <p class="text-indigo-900 font-semibold  ">Items Recived/Items Sold</p>
            <div class="flex justify-between">
                <span class="text-[#4c2621] text-2xl  font-semibold">05/07</span>
                <span class="flex justify-end gap-1 items-center text-green-600">24%
                    <img src="assets/Icons/up-arrow.png" alt="up" class="w-5 h-4">
                </span>
            </div>
        </div>

    </div>
</div>