<div class="bg-blue-800">
    <div class="flex justify-evenly items-center py-1 text-white">
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2 ">
            Production
        </p>
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2">
            Inventory
        </p>
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2">

            Administrator
        </p>
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2">
            sales
        </p>
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2">
            Production
            Support
        </p>
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2">
            CRM
        </p>
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2">
            HRM
        </p>
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2">
            Finance
        </p>
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2">
            Workshop
            MGMT.
        </p>
        <p
            class="text-lg font-semibold uppercase hover:bg-white hover:text-blue-800 hover:rounded hover:cursor-pointer py-2 px-2">
            Project
            CTRL.
        </p>
        <img src="assets/Icons/arrow-upward.png" alt="" class="w-6 h-6">
    </div>
</div>