<div class="border flex justify-evenly py-1 items-center bg-blue-800 ">
    <div class="flex  gap-4 text-white items-center hover:bg-white hover:text-blue-800 px-3 py-2 rounded  ">
        <img class="w-7 h-7" src="assets/Icons/back.png" alt="">
        <p class="text-xl font-semibold">Back</p>
    </div>
    <div class="flex  gap-4 text-white items-center hover:bg-white hover:text-blue-800 px-3 py-2 rounded ">
        <img class="w-7 h-7" src="assets/Icons/refresh.png" alt="">
        <p class="text-xl font-semibold">Refresh</p>
    </div>
    <div class="flex  gap-4 text-white items-center hover:bg-white hover:text-blue-800 px-3 py-2 rounded ">
        <img class="w-7 h-7" src="assets/Icons/delete.png" alt="">
        <p class="text-xl font-semibold">Delete</p>
    </div>
    <div class="flex  gap-4 text-white items-center hover:bg-white hover:text-blue-800 px-3 py-2 rounded ">
        <img class="w-7 h-7" src="assets/Icons/search.png" alt="">
        <p class="text-xl font-semibold">Search</p>
    </div>
    <div class="flex  gap-4 text-white items-center hover:bg-white hover:text-blue-800 px-3 py-2 rounded ">
        <img class="w-7 h-7" src="assets/Icons/show.png" alt="">
        <p class="text-xl font-semibold">Show</p>
    </div>
    <div class="flex  gap-4 text-white items-center hover:bg-white hover:text-blue-800 px-3 py-2 rounded ">
        <img class="w-7 h-7" src="assets/Icons/print.png" alt="">
        <p class="text-xl font-semibold">Print</p>
    </div>
    <div class="flex  gap-4 text-white items-center hover:bg-white hover:text-blue-800 px-3 py-2 rounded ">
        <img src="assets/Icons/addItem.png" class="w-7 h-7" alt="">
        <p class="text-xl font-semibold">Add New Item</p>
    </div>
</div>